streamlit
openai
galileo
chromadb
python-dotenv
langchain
langchain-core
langchain-openai
langchainhub
langgraph
langchain-pinecone
pinecone
langchain-text-splitters
langchain-community
pyyaml
toml
unstructured
unstructured[pdf]
langchain-pinecone
arize-phoenix-otel
arize-phoenix
openinference-instrumentation-openai
openinference-instrumentation-langchain
openinference-instrumentation-langgraph
langchain-aws
boto3
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-openai
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-requests
opentelemetry-exporter-otlp-proto-http